<!DOCTYPE html>
<html>
<%- include("../../layout/head.ejs") -%>
<style>

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.img-thumbnail {
  max-width: 4cm;
}





/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
</style>

<body>
  <% if (error) { %>
    <script>
      function error() {
              alert('<%- error %>');
          }
      window.onload = error;
    </script>
  <% } %>

<%- include("../../layout/nav.ejs") -%>

<%- include("../../layout/agensidebar.ejs") -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div class="text-center mb-3">
    <% if(!result.imgPath){ %>
      <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail my-2" alt="avatar">
    <%} else {%>
      <img src="<%- result.imgPath %>" class="avatar img-circle img-thumbnail my-2" alt="avatar">
    <% } %>
    <h6>Upload a different photo...</h6>
    <form method="POST" action="/agen/upload" enctype="multipart/form-data">
    <input type="file" class="text-center center-block file-upload my-2" accept='image/*' name="imgupload">
    <button class="btn btn-primary" type="submit">Ganti</button>
    </form>
  </div></hr><br> 
  <% if(!result.nama || !result.deskripsi || !result.tanggal_lahir) {%>
    <div class="alert alert-warning" role="alert">
     Mohon lengkapi profil anda terlebih dahulu untuk menggunakan aplikasi.
    </div>
    <% } %>    
    
  <form action="/agen/update" method="POST">
    <div class="form-group">
        <label for="jenis_sertifikasi">Nama</label>
        <input type="text" class="form-control" id="jenis_sertifikasi" name="nama" value = "<%-result.nama%>" maxlength="100">
    </div>
    <div class="form-group">
        <label for="alamat_lokasi">telepon</label>
        <input type="text" class="form-control" id="alamat_lokasi" name = "telepon" value = "<%-result.telepon%>" maxlength="13">
    </div>
    <div class="form-group">
        <label for="judul_iklan">tanggal lahir</label>
        <input type="date" class="form-control" id="judul_iklan" name="tanggal_lahir" value = "<%-result.tanggal_lahir%>">
    </div>
    <div class="form-group">
        <label for="deskripsi">Deskripsi</label>
        <textarea class="form-control" rows="5" id="judul_iklan" name="deskripsi"><%-result.deskripsi%></textarea>
    </div>
    <div class="d-flex justify-content-end"><button class="btn btn-primary" type="submit">Simpan</button>
    </div>
  </form>
  <br>
  <hr>
  <div class="gantipassword">
    <h3>Ganti Password</h3>
    <form action="/user/agen/updatePassword" method="POST">
      <div class="form-group">
        <label for="passwordlama">Password Sekarang</label>
        <input type="password" class="form-control" id="passwordlama" name="passlama">
    </div>
    <div class="form-group">
      <label for="passwordbaru">Password Baru</label>
      <input type="password" class="form-control" id="passwordbaru" name="passbaru">
  </div>
  <div class="form-group">
    <label for="passwordbaru">Ketik Ulang Password Baru</label>
    <input type="password" class="form-control" id="passwordbaru" name="retpassbaru">
</div>
<div class="d-flex justify-content-end"><button class="btn btn-primary" type="submit">Simpan</button>
</div>

    </form>
  </div>
  

   
 
<%- include("../../layout/footer.ejs") -%>
</main>
</body>
</html>






