<!DOCTYPE html>
<html>
<%- include("../../layout/head.ejs") -%>
<style>

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}





/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
</style>

<body>
  <% if (error) { %>
    <script>
      function error() {
              alert('<%- error %>');
          }
      window.onload = error;
    </script>
  <% } %>

<%- include("../../layout/nav.ejs") -%>

<%- include("../../layout/agensidebar.ejs") -%>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div class="text-center mb-3">
    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail my-2" alt="avatar">
    <h6>Upload a different photo...</h6>
    <form method="POST" action="/profile/upload" enctype="multipart/form-data">
    <input type="file" class="text-center center-block file-upload my-2" accept='image/*' name="imgupload">
    <input type="submit" value="Ganti gambar">
    </form>
  </div></hr><br>     
  <form>
    <div class="form-group">
        <label for="jenis_sertifikasi">sertifikasi</label>
        <input type="text" class="form-control" id="jenis_sertifikasi" name="jenis_sertifikasi">
    </div>
    <div class="form-group">
        <label for="alamat_lokasi">alamat lokasi</label>
        <input type="text" class="form-control" id="alamat_lokasi" name = "alamat_lokasi">
    </div>
    <div class="form-group">
        <label for="judul_iklan">judul iklan</label>
        <input type="text" class="form-control" id="judul_iklan" name="judul_iklan">
    </div>
    <div class="form-group">
        <label for="deskripsi">Deskripsi</label>
        <textarea class="form-control" rows="5" id="judul_iklan" name="deskripsi"></textarea>
    </div>
  </form>

   
 
<%- include("../../layout/footer.ejs") -%>
</main>
</body>
</html>






