<!DOCTYPE html>
<html>
<%- include("../layout/head.ejs") -%>
<style>
  body{
    background-color: white;
  }
</style>
<body>
  <% if (error) { %>
    <script>
      function error() {
              alert('<%- error %>');
          }
      window.onload = error;
    </script>
  <% } %>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
        $('#hubungi').click(function(){
          $(this).html('<i class="bi bi-telephone"></i> <%- result.agen.telepon%>');
        });

   
    });

  
    </script>

<%- include("../layout/nav.ejs") -%>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <% for(var j = 0; j<result.rumah.imgPath.length;j++) {%>
      <li data-target="#demo" data-slide-to="<%-j%>" <%if(j==0){%>
        class="active"
        <%}%>
        ></li>
      <%}%>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <% for(var i = 0; i<result.rumah.imgPath.length;i++) {%>      
      <div class="carousel-item <% if(i==0){%>
        active
      <%}%> ">
        <img class="d-block mx-auto" src="/uploads/rumah_image/<%- result.rumah.imgPath[i]%>" alt="<%- result.rumah.imgPath[i]%>">
      </div>
      <%}%>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>


  <!-- informasi -->

  <div class="container-fluid mt-4 my-4">

    <div class="row mx-2">
  		<div class="col-sm-9"><!--left col-->
              

      <div class="mb-3 mx-3">
      <h3>Rp. <%- result.rumah.harga %></h3>
      <!--<h6><%- result.rumah.judul_iklan %></h6>-->
      <small><%- result.rumah.alamat_lokasi %> , <%- result.rumah.wilayah %></small><br>
      <small>Pengembang : <a href="#">  <%- result.agen.nama %> </a></small><br><hr>
      <div class="d-flex justify-content-around text-center">
        <div>
          <small>luas tanah</small>
          <h5><%- result.rumah.luas_tanah %> m2</h5>
        </div>
        <div>
          <small>luas bangunan</small>
          <h5><%- result.rumah.luas_bangunan %> m2</h5>
        </div>
        <div>
          <small>kamar tidur</small>
          <h5><%- result.rumah.kamar_tidur %></h5>
        </div>
        <div>
          <small>kamar mandi</small>
          <h5><%- result.rumah.kamar_mandi %></h5>
        </div>
        <div>
          <small>jenis sertifikasi</small>
          <h5><%- result.rumah.jenis_sertifikasi %></h5>
        </div>
      </div>
      <hr>
      <h5><%- result.rumah.judul_iklan %></h5>
      <p><%- result.rumah.deskripsi %></p>
      <hr>
      <h5>Fasilitas</h5>
      <ul>
        <% for(var k = 0;k<result.rumah.fasilitas.length;k++) {%>
        <li> <%-result.rumah.fasilitas[k]%> </li>
        <% } %>
      </ul>
      
      </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-3 my-2">
        <div class="card">
          <div class="card-body text-center">
            <% if (!result.agen.imgPath) {%>
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="150" height="150" class="avatar img-circle img-thumbnail my-2" alt="avatar"><br>
            <% }else{ %>
              <img src="<%-result.agen.imgPath%>" width="150" height="150" class="avatar img-circle img-thumbnail my-2" alt="avatar"><br>
            <% } %>
            <h3><%- result.agen.nama %></h3>
            <small><%- result.agen.deskripsi %></small>
          </div>
          <% if (user_type == 'pembeli') {%>
          <div class="card-footer d-flex justify-content-around">
            <button type="button" class="btn btn-warning" id="hubungi"><i class="bi bi-telephone"></i> Hubungi</button>
            <% if(!disukai) {%>
              
              <a class="btn btn-danger" href="/dashboard/suka?agen=<%- result.rumah.id_agen %>&id_rumah=<%- result.rumah.id_rumah %>&id_pelanggan=<%- id_pelanggan %>" role="button"><i class="bi bi-heart-fill"></i> Sukai</a>
              
            <% }else{%>
              <a class="align-middle btn btn-light" role="button" disabled><i class="bi bi-heart-fill"></i> disukai</a>
            <% } %>
          </div>
          <% } %>
        </div>
            
        </div><!--/col-9-->
    </div><!--/row-->
                                                      
 
<%- include("../layout/footer.ejs") -%>

</body>
</html>


























