<!DOCTYPE html>
<html>
<%- include("../../layout/head.ejs") -%>
    <style>
        body {
            font-size: .875rem;
        }

        .feather {
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }

        /*
 * Sidebar
 */

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            /* Behind the navbar */
            padding: 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 48px;
            /* Height of navbar */
            height: calc(100vh - 48px);
            padding-top: 1.2rem;
            overflow-x: hidden;
            overflow-y: auto;
            /* Scrollable contents if viewport is shorter than content. */
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }

        .img-thumbnail {
            max-width: 4cm;
        }





        /*
 * Utilities
 */

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }
    </style>

    <body>
        <% if (error) { %>
            <script>
                function error() {
                    alert('<%- error %>');
                }
                window.onload = error;
            </script>
            <% } %>

                <%- include("../../layout/nav.ejs") -%>

                    <%- include("../../layout/pembelisidebar.ejs") -%>

                        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                            <% if(result.result) {%>
                            <h4>Hasil Pembobotan</h4>
                            <div class="card-group">
                                <% for(var i =0 ;i<result.result.kriteria.length;i++) {%>
                                <div class="card">
                                    <div class="card-body">
                                        <p><%- result.result.kriteria[i]%></p>
                                        <small><%- (result.result.weight[i]).toFixed(3) %></small>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <h4>Hasil F<small>max</small></h4>
                            <div class="card-group">
                                <% for(var i =0 ;i<result.result.kriteria.length;i++) {%>
                                <div class="card">
                                    <div class="card-body">
                                        <p><%- result.result.kriteria[i]%></p>
                                        <small><%- (result.result.fmax[i]).toFixed(3) %></small>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <h4>Hasil F<small>min</small></h4>
                            <div class="card-group">
                                <% for(var i =0 ;i<result.result.kriteria.length;i++) {%>
                                <div class="card">
                                    <div class="card-body">
                                        <p><%- result.result.kriteria[i]%></p>
                                        <small><%- (result.result.fmin[i]).toFixed(3) %></small>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <h4>Hasil F(normalisasi)</h4>
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">no</th>
                                    <th scope="col">Alternatif/<br>
                                        kriteria</th>
                                    <% for(var j = 0;j<result.result.kriteria.length;j++) {%>
                                    <th scope="col"><%- result.result.kriteria[j] %></th>
                                    <% } %>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% for(var k = 0;k<result.result.alternatif.length;k++) {%>
                                  <tr>
                                    <th scope="row"><%- k+1 %></th>
                                    <td><%- result.result.unsortedalternatif[k].judul_iklan %></td>
                                    <% for(var l = 0;l<result.result.kriteria.length;l++) {%>
                                    <td><%- (result.result.normalisasi[k][l]).toFixed(3) %></td>
                                    <% } %>
                                  </tr>
                                  <% } %>
                                </tbody>
                              </table>
                              <h4>Hasil Utility Measures(S)</h4>

                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">no</th>
                                        <th scope="col">Alternatif</th>
                                        <th scope="col">S</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var m = 0;m<result.result.unsortedalternatif.length;m++) {%>
                                            <tr>
                                                <th scope="row"><%- m+1 %></th>
                                                <td><%- result.result.unsortedalternatif[m].judul_iklan %></td>
                                                <td><%- (result.result.S[m]).toFixed(3) %></td>
                                              </tr>
                                            <% } %>
                                      
                                    </tbody>
                                  </table>
                                <h4>Hasil Regret Measures(R)</h4>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">no</th>
                                        <th scope="col">Alternatif</th>
                                        <th scope="col">R</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var n = 0;n<result.result.unsortedalternatif.length;n++) {%>
                                            <tr>
                                                <th scope="row"><%- n+1 %></th>
                                                <td><%- result.result.unsortedalternatif[n].judul_iklan %></td>
                                                <td><%- (result.result.R[n]).toFixed(3) %></td>
                                              </tr>
                                            <% } %>
                                      
                                    </tbody>
                                  </table>
                                  <h4>Hasil Hitung Maksimum Minimum S & R</h4>
                                  <div class="card-group">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>S+</p>
                                            <small><%- result.result.Splus %></small>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <p>S-</p>
                                            <small><%- result.result.Smin %></small>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <p>R+</p>
                                            <small><%- result.result.Rplus %></small>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <p>R-</p>
                                            <small><%- result.result.Rmin %></small>
                                        </div>
                                    </div>
                                </div>
                                <h4>Hasil Alternatif</h4>
                                <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="col">Rangking</th>
                                        <th scope="col">Alternatif</th>
                                        <th scope="col">nilai</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var o = 0;o<result.result.unsortedalternatif.length;o++) {%>
                                            <tr>
                                                <th scope="row"><%- o+1 %></th>
                                                <td><%- result.result.alternatif[o].judul_iklan %></td>
                                                <td><%- (result.result.alternatif[o].hasil).toFixed(3) %></td>
                                              </tr>
                                            <% } %>
                                      
                                    </tbody>
                                  </table>
                                <% }else{ %>
                                    <h1>Anda Belum Mengisi Kuesioner, Silahkan Isi Dahulu</h1>
                                    <% } %>

                            <%- include("../../layout/footer.ejs") -%>
                        </main>
    </body>

</html>